* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body {
  	background: #021526;
  	width: 100%;
  	height: 100vh;
  	font-family: Arial, sans-serif;
}
header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    z-index: 999;
    background-color: transparent;
}
.header.change-background {
    background-color: rgba(255, 255, 255, 0.3);   
    backdrop-filter: blur(5px);
    background-color: #03346E;
}
.topnav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.topnav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
}
.topnav .logo a {
    color: #6EACDA;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.topnav .nav-list-item {
    display: flex;
}
.topnav .nav-list-item .nav-item {
    height: 100%;
}

.topnav .nav-list-item .nav-item a {
    display: block;
    padding: 14px 16px;
    color: #27d39f;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.topnav .nav-list-item .nav-item:hover a {
    background-color: #ddd;
    color: black;
}
.topnav .nav-list-item .nav-item.active {
    background-color: #03346E;
    /* color:#27d39f; */
}

.topnav .menu-icon a {
    padding: 14px 16px;
    color: #f2f2f2;
}

.topnav .menu-icon {
    display: none;
}
/* #home{
  	height: 100vh;
} */
.menu-icon{
	display: none;
}
#home .wrapper{
    display: flex;
  	flex-direction: row-reverse;
  	justify-content: space-between;
  	align-items: center;
  	/* height: 100vh; */
}

.avatar {
  	flex: 1;
  	text-align: center;
}

.avatar img , #about_img img{
  	width: 300px;
  	height: 300px;
  	border-radius: 50%;
    object-fit: cover;
}

.resume {
  	flex: 1;
  	text-align: center;
  	color: #fff;
}

.resume p {
    color: #00abf0;
	font-size: 24px;
}

.resume h1 {
  	font-size: 48px;
  	font-weight: 700;
  	color: #00abf0;
  	margin-bottom: 10px;
}

.resume h3 {
  	font-size: 28px;
  	font-weight: 500;
  	color: #00abf0;
}

.button {
  	margin-top: 20px;
}

.button button {
  	width: 150px;
  	height: 50px;
  	margin: 0 10px;
  	background-color: #E2E2B6;
  	color: #021526;
  	font-size: 18px;
  	font-weight: 600;
  	border: none;
  	border-radius: 8px;
  	position: relative;
  	overflow: hidden;
  	cursor: pointer;
}

.button button:before,
.button button:after {
  	content: '';
  	position: absolute;
  	background: rgba(255, 255, 255, 0.2);
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
  	transition: transform 0.3s;
}

.button button:before {
  	transform: translateX(-100%);
}

.button button:hover:before {
  	transform: translateX(0);
}

.button button:after {
  	transform: translateX(100%);
}	

.button button:hover:after {
  	transform: translateX(0);
}
#about_text h1 , #Languages div h1{
    color: #27d39f;
}
#about_text p , .clickExperience p , .clickEducation p{
    color: #E2E2B6;
}
.clickExperience h1 , .clickEducation h1{
    color:#6EACDA
}

@media screen and (max-width:600px){
    .topnav {
        position: relative;
        padding: 0;
    }
    .topnav .menu-icon {
        display: block;
    }

    .topnav .nav-list-item {
        display: none;

        position: absolute;
        top: 50%;
        left: 0;
        flex-direction: column;
        background: #E2E2B6;
    }
    .topnav.open .nav-list-item {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .custom-btn.btn-4{
    	margin-bottom: 10px;
    }
}
/* @media only screen and (min-width: 768px) {
    .topnav {
        position: relative;
        padding: 0;
    }
    .topnav .menu-icon {
        display: block;
    }

    .topnav .nav-list-item {
        display: none;

        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background: #000;
    }
    .topnav.open .nav-list-item {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}
@media only screen and (min-width: 1024px) {
    .topnav {
        position: relative;
        padding: 0;
    }
    .topnav .menu-icon {
        display: block;
    }

    .topnav .nav-list-item {
        display: none;

        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background: #000;
    }
    .topnav.open .nav-list-item {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
} */